<div class="container">
  <%= link_to "돌아가기", :back, class: "btn btn-primary mt-3" %> <br> <br>

  <div class="card">
    <img src="<%= @user.image_url %>" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= @user.name %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a style="color: red;" href="<%= @user.link1 %>"><%= @user.head1 %></a></li>
      <li class="list-group-item"><a style="color: red;" href="<%= @user.link2 %>"><%= @user.head2 %></a></li>
      <li class="list-group-item"><a style="color: red;" href="<%= @user.link3 %>"><%= @user.head3 %></a></li>
      <li class="list-group-item"><a style="color: red;" href="<%= @user.link4 %>"><%= @user.head4 %></a></li>
    </ul>
  </div>
</div>

<script>
  $('.list-group').on('click', 'a', function(event) {
    event.preventDefault();
    window.open($(this).attr('href'), '_blank');
  });
</script>
