<!DOCTYPE html>
<html>
  <head>
    <title>NoFactNoVote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=db06b2055f0dd7b3f096eb6818a1f9d9&libraries=services,clusterer,drawing"></script>
  </head>

  <body style="text-align: center;">
    <%= yield %>
  </body>
</html>
